<footer>
    <div class="menu-item" routerLink="/home">
        <div>
            <img src="./home-icon.png" draggable="false" alt="home button">
        </div>
        <span>Головна</span>
    </div>
    <div class="menu-item" routerLink="/projects">
        <div>
            <img src="./project-icon.png" draggable="false" alt="project button">
        </div>
        <span>Проекти</span>
    </div>
    <div class="menu-item" routerLink="/settings">
        <div>
            <img src="./settings-icon.png" draggable="false" alt="settings button">
        </div>
        <span>Профіль</span>
    </div>
</footer>