@if(user === undefined){
    <div class="menu-center unauthorized">
        <h1>Авторизація</h1>
        <div class="btn-wrapper-vert">
            <button mat-button (click)="login()">Увійти</button>
            <button mat-button (click)="register()">Реєстрація</button>
        </div>
    </div>
}
@else if(user){
    <div class="menu-center">
        <h1>Привіт, {{user.username}}</h1>
        <div>Ви - {{user.employee.name}}, {{user.employee.position}}</div>
        <div>Ваша пошта: {{user.email}}</div>
        <div class="btn-wrapper">
            <button mat-button class="logout" (click)="logout()">Вийти</button>
            <button mat-button class="delete" (click)="delete()">Видалити</button>
        </div>
    </div>
    <div class="notification-container" routerLink="/notifications">
        <img src="./bell-icon.png">
        @if(hasNotification){
            <div class="red-dot"></div>
        }
    </div>
}