@if(!user){
    <button mat-button (click)="global.showLogin.set(true)">Увійти</button>
    <button mat-button (click)="global.showRegister.set(true)">Реєстрація</button>
}
@else {
    <div class="menu-authorized">
        <h1>Привіт, {{user.username}}</h1>
        <div>Ви - {{user.employee.name}}, {{user.employee.position}}</div>
        <div>Ваша пошта: {{user.email}}</div>
        <div class="btn-wrapper">
            <button mat-button class="logout" (click)="logout()">Вийти</button>
            <button mat-button class="delete" (click)="delete()">Видалити</button>
        </div>
    </div>
}