<div class="hat-container">
    <h1>Сповіщення</h1>
</div>

@if(notifications.length == 0){
    <h2 class="no-notifications">У вас немає сповіщень</h2>
}@else {
@for (notification of notifications; track $index) {
    <div class="notification">
        <div>
            <h2 class="notification-title">Запрошення</h2>
            <div>Від:{{notification.sender.username}}</div>
            <div>Проект:{{notification.project.name}}</div>
        </div>
        <div>
            <button mat-button class="apply" (click)="accept(notification.id)">Прийняти</button>
            <button mat-button class="reject" (click)="reject(notification.id)">Відмовити</button>
        </div>
    </div>
}}